@import "tailwindcss";

@layer utilities{
  /* .clip-left-head{
    clip-path: path("M 0 15 L 5 17 L 55 17 L 57 19 L 57 0 L 98 0 L 100 2 L 100 98 L 98 100 L 2 100 L 0 98 Z");  
  } */
   .clip-left-head {
  clip-path: polygon(
    0% 17%, 2% 15%, 55% 15%, 57% 13%, 57% 2%, 59% 0%, 98% 0%, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0% 98%
  );
  }
  @variant xs{
    .clip-left-head{
      clip-path: polygon(
        0% 20%, 2% 18%, 54% 18%, 56% 16%, 56% 2%, 58% 0%, 98% 0%, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0% 98%
      );
    }
  }
  @variant sm{
    .clip-left-head{
      clip-path: polygon(
        0% 20%, 2% 18%, 49% 18%, 51% 16%, 51% 2%, 53% 0%, 98% 0%, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0% 98%
      );
    }
  }
  @variant md{
    .clip-left-head{
      clip-path: polygon(
        0% 22%, 2% 20%, 43% 20%, 45% 18%, 45% 2%, 47% 0%, 98% 0%, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0% 98%
      );
    }
  }

  .carousal{
    animation: carousal-anim 1s linear;
    transform: rotate(30/var(--i));
  }
}


@theme {
  --breakpoint-xs : 24rem;
  @keyframes carousal-anim {
    from {
      opacity: 0.5;
      transform: translateX(-100%);
    }
    to {
      transform: scale(1);
      opacity: 1;
      transform: translateX(0%);
    }
  }
}